@charset "UTF-8";
/* CSS Document */

html {
	min-width: 768px;
}

body {
	font-size: 100%;
	font-family:Arial, Arial, Helvetica, sans-serif;
	line-height: 1.5rem;  
}

.wrapper {}

img {
	width: 100%; /* All images will be 100% the size of their parent */
}

.baseline {
	background-image: url(../images/baseline.svg);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* ---------------------------------------------------------------------------------- Masthead */

.masthead {
	height: 6rem;
	background-color: rgba(102,101,135,1); /* Red Green Blue Alpha */
	margin-bottom: 1.5rem;
}

.bakerella {
	width: 12%;
	float: right;
	margin: 0 4% 0;
}

h1 {
	font-size: 1.5rem;
	color: #FFF;
	margin: 2.25rem 0 0 4%;
	position: absolute;
}

h3 {
	font-size: .800rem;
	color: rgba(243,134,166,1);
	margin: 2.5rem 2% 2.5rem;
}

/* ---------------------------------------------------------------------------------- Article */

article {
	padding: 0 4% 3.5rem;
}

.headline {
	height: 4.5rem;
	margin-bottom: 2.0rem;
	background-color: rgba(146,196,245,1);
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 2.25rem;
	position: absolute;
	margin: 1.5rem 2% 0;
}

h4 {
	font-size: 1.25rem;
	color: rgba(243,134,166,1);
}

.cakepopday {
	width: 35%;
	float: left;
	margin: 0 2.5% 1.5rem 0;
}

p {
	margin-bottom: 1.5rem;
}

ol li { 
	list-style-type: disc;
	margin-bottom: .5rem
}

.cakepop {
	width: 25%;
	float: right;
	margin:.5rem 0 0 3.5rem;
}

.footnote {
	height: 4.5rem;
	background-color: rgba(146,196,245,.70);
	margin-top: 6.5rem;
}

.footnote p {
	font-size: .875rem;
	position: absolute;
	margin: 2.5rem 2% 0;
}

/* ---------------------------------------------------------------------------------- Bottom */

.bottom {
	height: 15rem;
	background-color: rgba(102,101,135,1);
}

.bottom p {
	font-size: .875rem;
	color: #FFF;
	position: absolute;
	margin: 1.5rem 4% 0;
}